div(class="Card-hidden")
	div(class="Card-hidden-image" style="width: 200px; height: 300px; border: 5px solid black; background-image: url('./public/images/logo.jpg'); background-size: 100% 100%; background-repeat: no-repeat;")
		