div(class="Card")
	h2(class="Card-name") &nbsp;
		
	div(class="Card-image")
		img(src="./public/images/logo.jpg" alt=":image-description:")
		
	div(class="Card-description")
		p &nbsp;
		
	div(class="Card-points")
		span &nbsp;