.Card 
	background #C2AC37
	border 5px solid gray
	border-radius 8px
	width 200px

	&-image 
		width 160px


	&-image img 
		width 100%


	&-description 
		background #fff
		font-size 12px
		padding 4px 6px