.Card 
	background #ecd656
	border 5px solid black
	border-radius 8px
	box-shadow 0 0 10px rgba(0,0,0,.5)
	padding 8px
	text-align center
	width 200px
	
	&-name 
		color #fff
		font-size 16px
		margin 0 0 8px 0
		overflow hidden
		white-space nowrap
		text-transform uppercase
		text-overflow ellipsis !important

	&-image 
		margin 0 auto
		width 100%


	&-image img 
		width 150px
		height 180px


	&-description 
		background #fff
		border 3px solid #000
		font-size 12px
		padding 8px 4px
		overflow hidden
		white-space nowrap
		text-overflow ellipsis !important
		
	&-points
		background #000
		color #fff
		font-size 12px
		padding 4px