div(class="Card")
	h2(class="Card-name") Name
		
	div(class="Card-image")
		img(src="./public/images/wolverine.jpg" alt=":image-description:")
		
	//- div(class="Card-description")
	//- 	p :description:
		
	div(class="Card-points")
		span :points:
