div(class="Card")
	p=card
	h2(class="Card-name") Name
		
	div(class="Card-image")
		img(src=":image:" alt="")
		
	div(class="Card-description")
		p :description:
		
	div(class="Card-points")
		span :points: