doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="public/css/app.css")
	title Marvel

body
	h1 Marvel Game
	//- include ./card/template.jade

	section(class="Layout")
		section(class="Layout-rival") ::rival::
		section(class="Layout-main")
			div(class="Layout-status") ::status::
			div(class="Layout-battle") ::battle::
			div(class="Layout-phases") ::phases::
		section(class="Layout-player") ::player::
		
