doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="public/css/app.css")
	title Marvel

body
	h1 Marvel Game
	include ./card/template.jade

	section(class="Layout")

		
