doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="public/css/app.css")
	title Marvel

body
	h1 Marvel Game
	//- include ./card/template.jade

	section(class="Layout")
		section(class="Layout-rival")
			each card in [1,2,3,4,5]
				include ./card/template.jade
		section(class="Layout-main")
			div(class="Layout-status")
				each name in ["Raul", "Raul2"]
					include ./status/template.jade

			div(class="Layout-battle")
				include ./battle/template.jade

			div(class="Layout-phases")
				div(class="Phases")
					- text = ":Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, officia:"
					include ./phases/template.jade

		section(class="Layout-player")
			each card in [1,2,3,4,5]
				include ./card/template.jade
		
